:{$PORT:8080} {
	encode gzip zstd

	@api path /api /api/*
	handle @api {
		reverse_proxy {$API_UPSTREAM} {
			header_up Host {upstream_hostport}
		}
	}

	handle {
		root * /srv
		try_files {path} /index.html
		file_server
	}
}
